/.idea
/out

/PA_1/out
/PA_1/.idea

/PA_2/out
/PA_2/.idea

/PA_3/out
/PA_3/.idea

/PA_4/out
/PA_4/.idea

/PA_5/out
/PA_5/.idea

/PA_6/out
/PA_6/.idea

/PA_7/out
/PA_7/.idea

/PA_8/out
/PA_8/.idea

/PA_9/out
/PA_9/.idea

/PA_10/out
/PA_10/.idea

/PA_11/out
/PA_11/.idea

/PA_12/out
/PA_12/.idea

/PA_13/out
/PA_13/.idea

/PA_14/out
/PA_14/.idea

/PA_15/out
/PA_15/.idea